flows.json
[{"id":"5662ea89.fdb104","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"856e54b2.5a3728","type":"http in","z":"5662ea89.fdb104","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":140,"y":540,"wires":[["6f2bc1e.e3d8f4"]]},{"id":"9fd973eb.b41bf","type":"http response","z":"5662ea89.fdb104","name":"","statusCode":"","headers":{},"x":470,"y":540,"wires":[]},{"id":"6f2bc1e.e3d8f4","type":"function","z":"5662ea89.fdb104","name":"http response","func":"msg.payload={\"t\":global.get('t'),\"h\":global.get('h')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["9fd973eb.b41bf"]]},{"id":"9d086bcd.1bd8d8","type":"http in","z":"5662ea89.fdb104","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":600,"wires":[["f1308634.ffbb88"]]},{"id":"eed0e3c8.40dc6","type":"http response","z":"5662ea89.fdb104","name":"","statusCode":"","headers":{},"x":460,"y":600,"wires":[]},{"id":"f1308634.ffbb88","type":"function","z":"5662ea89.fdb104","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":600,"wires":[["eed0e3c8.40dc6","702cdd36.4f8444","8f16d67b.b26f28"]]},{"id":"702cdd36.4f8444","type":"debug","z":"5662ea89.fdb104","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":660,"wires":[]},{"id":"8f16d67b.b26f28","type":"ibmiot out","z":"5662ea89.fdb104","authentication":"apiKey","apiKey":"945eb961.cf2dc8","outputType":"cmd","deviceId":"7777","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":700,"wires":[]},{"id":"1e7aacc9.66aee3","type":"debug","z":"5662ea89.fdb104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"42a0c1c5.ac7bd","type":"ibmiot in","z":"5662ea89.fdb104","authentication":"apiKey","apiKey":"945eb961.cf2dc8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1111","applicationId":"","deviceType":"iotds","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":240,"wires":[["1e7aacc9.66aee3","86dfbe0d.e75ae","2c554be1.adbad4","9fdeb66.5096248"]]},{"id":"86dfbe0d.e75ae","type":"function","z":"5662ea89.fdb104","name":"voltage","func":"global.set('p',msg.payload.d.voltage )\nreturn{payload:msg.payload.d.voltage}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":180,"wires":[["1e7aacc9.66aee3","8669ba2d.e95658"]]},{"id":"8669ba2d.e95658","type":"ui_gauge","z":"5662ea89.fdb104","name":"voltage","group":"4fde02d4.c5173c","order":0,"width":0,"height":0,"gtype":"gage","title":"voltage","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#0300b3","#00e62e","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"ef8440ef.70a6f","type":"ui_gauge","z":"5662ea89.fdb104","name":"current","group":"4fde02d4.c5173c","order":1,"width":0,"height":0,"gtype":"gage","title":"current","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#0063e6","#ca3838"],"seg1":"","seg2":"","x":480,"y":340,"wires":[]},{"id":"2c554be1.adbad4","type":"function","z":"5662ea89.fdb104","name":"current","func":"global.set('c',msg.payload.d.current)\nreturn{payload:msg.payload.d.current}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":280,"wires":[["ef8440ef.70a6f"]]},{"id":"9fdeb66.5096248","type":"cloudant out","z":"5662ea89.fdb104","name":"","cloudant":"","database":"billdata","service":"node-red-kgusa-2021--cloudant-1620829472941-76570","payonly":false,"operation":"insert","x":290,"y":360,"wires":[]},{"id":"945eb961.cf2dc8","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"22dal6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4fde02d4.c5173c","type":"ui_group","name":"Default","tab":"88cbeaf8.1b9c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"88cbeaf8.1b9c18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]